/*Layout*/

html {min-height: 100%;
overflow-x: hidden;
}

#PageSecondHalf {height: 100vh;
background-color: #fff;
width: 100vw;
    top: 47vw;
left: 0;
position: absolute;}

#LibbyBanner {width: 100vw;
left: 0;
    top: 0;
position: absolute;
}

#LibbyBanner2 {width: 100vw;
left: 0;
    top: 0.15vw;;
position: absolute;}

#Background2 {width: 100vw;
    position: absolute;
    z-index: 20;
height: 50vw;
background-color: darkred;
left: 0;
top: 81vw;}

#Footer {width: 100vw;
    position: absolute;
height: 5vw;
top: 129vw;
left: 0;
background-color: white;
z-index: 35;}

/* Fonts */


h1 {position: absolute;
z-index: 15;
font-family: 'Josefin Sans', sans-serif;}

#Hi {color: #1D1219;
    top: 26vw;
    left: 42vw;
font-size: 2vw;}

h2 {position: absolute;
z-index: 15;
font-family: 'Atma', cursive;}

#Name {text-align: center;
left:23vw;
top: 24vw;
font-size: 5vw;
color: white;}

#Springs {position: absolute;
z-index: 10;
    font-family: 'Josefin Sans', sans-serif;
text-align: center;
    left: 13.5vw;
    top: 67.5vw;
    font-size: 1.5vw;
     color: #1D1219;
}

#MedicineText {position: absolute;
z-index: 10;
    font-family: 'Josefin Sans', sans-serif;
text-align: center;
    left: 43vw;
    top: 67.5vw;
    font-size: 1.5vw;
     color: #1D1219;
}

#BatteryText {position: absolute;
z-index: 10;
    font-family: 'Josefin Sans', sans-serif;
text-align: center;
    left: 72.5vw;
    top: 67.5vw;
    font-size: 1.5vw;
     color: #1D1219;}

#Facts {position: absolute;
z-index: 10;
    font-family: 'Josefin Sans', sans-serif;
text-align: center;
    left: 41vw;
    top: 50.5vw;
    font-size: 3vw;
     color: #BD643E;}

#Info {position: absolute;
z-index: 30;
    font-family: 'Atma', sans-serif;
text-align: center;
    left: 52.5vw;
    top: 93.5vw;
    font-size: 1.7vw;
     color: #BD643E;
    width:30vw;
z-index: 33;}

#FooterText {position: absolute;
z-index: 35;
color: #BD643E;
 font-family: 'Josefin Sans', sans-serif;
top: 129.4vw;
font-size: 1.5vw;}

#FooterText2 {position: absolute;
z-index: 35;
color: #BD643E;
 font-family: 'Josefin Sans', sans-serif;
top: 129.4vw;
    left: 92vw;
font-size: 1.5vw;}

a {color: #1D1219;
text-decoration: none;}

/* Images */

#Drop {position: absolute;
height: 7vw;
left: 18vw;
top: 60vw;
opacity: 0.7;}

#Drop:hover {filter: contrast(2);}

#Border {width: 100vw;
position: absolute;
height: 4vw;
left: 0;
top: 0vw;
background-color: #fff;}

#Home {position: absolute;
font-size: 3vw;
    color: #BD643E;
    left: vw;
    top: 0.5vw;
    
z-index: 10;}

#Medicine {position: absolute;
height: 7vw;
left: 47vw;
top: 60vw;
opacity: 0.7;}

#Medicine:hover {filter: contrast(2);}

#Battery {position: absolute;
height: 7vw;
left: 75vw;
top: 60vw;
opacity: 0.7;}

#Battery:hover {filter: contrast(2);

}

#Libby2 {position: absolute;
top: 84vw;
z-index: 31;
left: 25vw;}

#Speech {position: absolute;
top: 90vw;
z-index: 31;
width: 35vw;
left: 50vw;
transform: scaleX(-1);}

#Libby2 {height: 40vw;
    position: absolute;
    top: 9vw;
        top: 89vw;
}


/* Media Queries */
